{% extends "base.html" %}

{% block content %}

<form method="POST" novalidate>
    <h1 class="display-6">Создайте аккаунт</h1>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <div class="dropdown">
      <a class="btn btn-prinary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#445698">
          <span style="color:white">Кем вы являетесь</span>
      </a>
    <br>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Студент</a></li>
        <li><a class="dropdown-item" href="#">Гость</a></li>
        <li><a class="dropdown-item" href="#">Преподаватель</a></li>
      </ul>
    </div>
    <br>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

</form>

{% endblock %}